
.bird-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}
.bird-card {
  background: whitesmoke;
  margin: 5px 20px 5px 20px;
  padding: 20px;
  border: 1px solid lightskyblue;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.bird-details {
  margin-left: 50px;
  margin-top: 10px;
}

.bird-image{
  height:275px;
  width: 350px;
}