.hide{
  display: none;
}

.sighting-header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
}

.page-title{
  margin-left:20px;
}
.sighting-card {
  margin: 5px 20px 5px 20px;
}
